[Desktop Entry]
Encoding=UTF-8
#executable test
#Version=1.0
Type=Application
Terminal=true
Categories=Utility;Application;Development;
Exec=Escritorio/lua2py/install.sh
Name=install lua2py
